{include file="comhead" /}
<link rel="stylesheet" href="/static/index/css/common.css"/>
<style type="text/css">
    body {
        background: #110e1f;
        overflow: auto
    }

    .f_box_history {
        flex: 1;
        color: #fff;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column
    }

    .f_box_history .t_content_history {
        flex: 1;
        overflow-y: auto
    }

    .f_box_history .t_content_history .t_content_historyImg {
        margin: 30% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .f_box_history .t_content_history .t_content_historyImg img {
        height: 4.666667rem
    }

    .f_box_history .t_content_history .t_content_historyImg p {
        margin-top: .266667rem
    }

    .f_box_history .t_content_history ul {
        display: flex;
        flex-direction: column;
        width: 9.4rem;
        margin: .266666rem auto;
        color: #999;
        font-size: .4rem;
        background: #181f2f;
        text-align: left;
        border-radius: 25px
    }

    .f_box_history .t_content_history ul li:first-child {
        height: 1.2rem;
        line-height: 1.2rem;
        color: #fff;
        font-size: .48rem;
        padding-left: .373333rem
    }

    .f_box_history .t_content_history ul li:nth-child(2) {
        height: 100%;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        padding-top: .666666rem;
        padding-left: .373333rem
    }

    .f_box_history .t_content_history ul li:nth-child(2) p {
        margin-bottom: .266666rem;
        line-height: 50px
    }

    .f_box_history .t_content_history ul li:nth-child(2) .l_noticeContent {
        text-indent: 2em;
        margin-bottom: 10px
    }

    .f_box_history .t_content_history ul li:nth-child(3) {
        height: 1.2rem;
        line-height: 1.2rem;
        padding-left: .373333rem
    }
</style>
<body style="font-size: 16px;">
<div class="tj-spinner-mask j_t_start" style="display: none;">
    <img class="j_loading" src="/public/jpg/loading.gif" alt="">
</div>
<div id="app">
    <div class="box">
        <div class="jun-content">
            <div class="f_box_history">
                <div class="t_header">
                    <span><img src="/public/jpg/goback.png" alt="" onClick="javascript:history.back()"></span>
                    <span><i>站内信息</i></span>
                </div>
                <ul style="">
                    {volist name="mail" id="vo"}
                    <a href="{:url('index/znxx',array('id'=>$vo['id']))}">
                        <li style="height: 1.3rem; line-height: 1.3rem; border-bottom: 1px solid #f9b729;">
                            <span style="float: left; margin-left: 0.5rem;">{$vo.title}</span>
                            <span style="float: right;margin-right: 0.5rem;">{$vo.create_time|date='y-m-d',###}</span>
                            {if $vo.state =='1'}
                            <span style=" float: right;margin-right: 0.5rem;">已读
                            {else /}
                            <span style="color: red; float: right;margin-right: 0.5rem;">未读{/if}</span>
                        </li>
                    </a>
                    {/volist}
                </ul>

            </div>
        </div>
        {include file="footer" /}
    </div>
</div>
</body>
</html>