<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>转账截图</title>

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
		<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
		<!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
		<style>
			.zzjt {
				width: 1010px;
				height: 826px;
				background: url(__STATIC__/admin/img/bank.jpg) no-repeat center 0;
			}
			
			.dw {
				position: relative;
				left: 240px;
				top: 240px;
			}
			
			tr {
				height: 25px;
				line-height: 26px;
			}
			
			.sm {
				width: 100px;
				text-align: right;
			}
		</style>
	</head>

	<body>
		  <form class="form-horizontal"   method="post" id="form">
			<div class="zzjt">
				<table class="dw">
					<input type="text" hidden="hidden"  name="id"  value="{$zzjt.id}" readonly="true" placeholder="id">
					<tr>
						<td class="sm">转账批次号：</td>
						<td><span>{$zzjt.pch}</span> <input type="text" hidden="hidden" name="pch" value="{$zzjt.pch}" placeholder="转账批次号"></td>
					</tr>
					<tr>
						<td class="sm">转出单位：</td>
						<td><span>{$zzjt.zcdw}</span> <input type="text" hidden="hidden" name="zcdw" value="{$zzjt.zcdw}" placeholder="转出单位"></td>
					</tr>
					<tr>
						<td class="sm">转出账户：</td>
						<td><span>{$zzjt.zczh}</span> <input type="text" hidden="hidden" name="zczh" value="{$zzjt.zczh}" placeholder="转出账户"></td>
					</tr>
					<tr>
						<td class="sm">转出账号地区：</td>
						<td><span>{$zzjt.zhdq}</span> <input type="text" hidden="hidden" name="zhdq" value="{$zzjt.zhdq}" placeholder="转出账号地区"></td>
					</tr>
					<tr>
						<td class="sm">收款人姓名：</td>
						<td><span>{$zzjt.skxm}</span> <input type="text" hidden="hidden" name="skxm" value="{$zzjt.skxm}" placeholder="收款人姓名"></td>
					</tr>
					<tr>
						<td class="sm">收款银行：</td>
						<td><span>{$zzjt.skyh}</span> <input type="text" hidden="hidden" name="skyh" value="{$zzjt.skyh}" placeholder="收款银行"></td>
					</tr>
					<tr>
						<td class="sm">收款账户：</td>
						<td><span>{$zzjt.skzh}</span> <input type="text" hidden="hidden" name="skzh" value="{$zzjt.skzh}" placeholder="收款账户"></td>
					</tr>
					<tr>
						<td class="sm">币种：</td>
						<td><span>{$zzjt.bz}</span> <input type="text" hidden="hidden" name="bz" value="{$zzjt.bz}"   placeholder="币种"></td>
					</tr>
					<tr>
						<td class="sm">转账金额：</td>
						<td><span>{$zzjt.zzje}</span> <input type="text" hidden="hidden" name="zzje" value="{$zzjt.zzje}" placeholder="转账金额"></td>
					</tr>
					<tr>
						<td class="sm">转账时间：</td>
						<td><span>{$zzjt.zzsj|date="Y/m/d",###}</span> <input type="text" hidden="hidden" name="zzsj" value="{$zzjt.zzsj|date="Y-m-d",###}" placeholder="转账时间"></td>
					</tr>
					<tr>
						<td class="sm">转账类型：</td>
						<td><span>{$zzjt.zzlx}</span> <input type="text" hidden="hidden" name="zzlx" value="{$zzjt.zzlx}" placeholder="转账类型"></td>
					</tr>
					<tr>
						<td class="sm">执行方式：</td>
						<td><span >{$zzjt.zxfs}</span> <input type="text" hidden="hidden" name="zxfs" value="{$zzjt.zxfs}" placeholder="执行方式"></td>
					</tr>
					<tr>
						<td class="sm">状态：</td>
						<td><span style="color: #1AA034;">{$zzjt.states}</span> <input type="text" hidden="hidden" name="states" value="{$zzjt.states}" placeholder="状态"></td>
					</tr>
					<tr>
						<td class="sm">银行备注：</td>
						<td><span>{$zzjt.yhbz}</span> <input type="text" hidden="hidden" name="yhbz" value="{$zzjt.yhbz}" placeholder="银行备注"></td>
					</tr>
					<tr>
						<td class="sm">处理结果：</td>
						<td style="color: red;"><span>{$zzjt.cljg}</span> <input type="text" hidden="hidden" name="cljg" value="{$zzjt.cljg}" placeholder="处理结果"></td>
					</tr>
					<tr>
						<td class="sm">用户备注：</td>
						<td><span>{$zzjt.remarks}</span> <input type="text" hidden="hidden" name="remarks" value="{$zzjt.remarks}" placeholder="用户备注"></td>
					</tr>
				</table>
				
			</div>
		</form>
		<div style="width: 900px; margin: 0 auto; margin-top: 10px;">
			<button class="btn btn-danger" type="button" id="xiug">修改</button>
			<button class="btn btn-success" type="button" style="display: none;" id="submit">保存</button>
		</div>

		<!--	<img src="__STATIC__/admin/img/bank.jpg" style="" />-->

		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
		  <script src="__ADMIN__/js/jquery-1.8.3.min.js"></script>
		  <script src="/static/layer/layer.js"></script>
		
		<script>
			$('#xiug').click(function() {　　 //点击a标签
				if($('input').is(':hidden')) {　　 //如果当前隐藏
					$('span').hide();
					$('input').show();
					$('#xiug').html('取消');
					$('#submit').show();
				} else {　　 //否则
					$('span').show();
					$('input').hide();
					$('#submit').hide();
					$('#xiug').html('修改');
				}
			})
		</script>
		<script type="text/javascript">
				//提交
				$(function() {
		
					$('#submit').on('click', function() {
						$.ajax({
							type: "POST",
							url: "{:url('user/xgzzjt')}",
							data: $("#form").serialize(),
							dataType: "json",
							success: function(data) {
								 layer.msg("修改成功");
								  setTimeout(function () {
								                         window.location.reload();
								                     }, 2000);
							}
						});
		
					})
				})
			</script>
	</body>

</html>